{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data" class="row g-3" style="margin-top: 25px;">
        {% csrf_token %}
        <!-- {{ ebOrgForm }} -->
        <div class="col-12">
            {{ ebOrgForm.INN.errors }}
            <label for="{{ ebOrgForm.INN.id_for_label }}" class="form-label">ИНН:</label>
            {{ ebOrgForm.INN }}
          </div>
          <div class="col-12">
            {{ ebOrgForm.NAME.errors }}
            <label for="{{ ebOrgForm.NAME.id_for_label }}" class="form-label">Наименование организации:</label>
            {{ ebOrgForm.NAME }}
          </div>
          <div class="col-12">
            {{ ebOrgForm.DOC_RESP_PERSON.errors }}
            <label for="{{ ebOrgForm.DOC_RESP_PERSON.id_for_label }}" class="form-label">Документ об ответственных лицах:</label>
            {{ ebOrgForm.DOC_RESP_PERSON }}
          </div>
          {% if "org-list/create-org" in request.path %}
          <input class="btn btn-success" type="submit" value="Добавить" style="margin-bottom: 30px;">
          {% else %}
          <input class="btn btn-success" type="submit" value="Обновить" style="margin-bottom: 30px;">
          {% endif %}
    </form>
</div>
{% endblock %}