{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin: 30px 0 30px 10px;">

    <a href="{% url 'create_org' %}" class="btn btn-dark">Добавить новую организацию</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Наименование организации</th>
                <th scope="col">ИНН</th>
                <th scope="col">Документ по ответственным лицам</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for value in orgList %}
            <tr>
                <td scope="row">{{value.NAME}}</td>
                <td>{{value.INN}}</td>
                <td>
                    {% if value.DOC_RESP_PERSON != "" %}
                    <a href="{% url 'view_doc' value.DOC_RESP_PERSON.path %}" style="text-decoration: none;">{{value.DOC_RESP_PERSON.name}} <img src="{% static 'media/eye.png' %}" style="width: 25px;height: 22px"></a>
                    {% endif %}
                </td>
                <td><a href="{% url 'orgUpdate' value.INN %}" class="btn btn-dark">Изменить</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
