{% extends 'base.html' %}
{% block content %}
<div style="margin: 30px 0 30px 10px;">
    <a href="{% url 'createReq' %}" class="btn btn-dark">Добавить новую запись</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Организация</th>
                <th scope="col">Клиент</th>
                <th scope="col">Тип заявки</th>
                <th scope="col">Время получения заявки</th>
                <th scope="col">Исполнитель</th>
                <th scope="col">Результат</th>
                <th scope="col">Комментарий</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for value in eblist %}
            <tr style="{% if value.IsDEBTOR %} background-color: yellow {% endif %}">
                <td scope="row">{{value.id}}</td>
                <td>{{value.ORG_INN}}</td>
                <td>{{value.CLIENT_ID}}</td>
                <td>{{value.REQUEST_TYPE}}</td>
                <td>{{value.GETTING_TIME}}</td>
                <td>{{value.EXECUTOR}}</td>
                <td>{{value.RESULT}}</td>
                <td>{{value.COMMENT}}</td>
                <td><a href="{% url 'updateReq' value.id %}" class="btn btn-dark">Подробнее</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}