{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" >
  <form action="" method="POST" enctype="multipart/form-data" class="row g-3">
    {% csrf_token %}
    <div class="col-12" style="margin-top: 50px;">
      {{ EbReqForm.ORG_INN.errors }}
      <label for="{{ EbReqForm.ORG_INN.id_for_label }}" class="form-label">Организация:</label>
      {{ EbReqForm.ORG_INN }}
    </div>

    <div class="col-md-6">
      {{ EbReqForm.CLIENT_ID.errors }}
      <label for="{{ EbReqForm.CLIENT_ID.id_for_label }}" class="form-label">Клиент:</label>
      {{ EbReqForm.CLIENT_ID }}
    </div>

    <div class="col-md-6">
      {{ EbReqForm.RESP_PERSONE_ID.errors }}
      <label for="{{ EbReqForm.RESP_PERSONE_ID.id_for_label }}" class="form-label">Ответственное лицо:</label>
      {{ EbReqForm.RESP_PERSONE_ID }}
    </div>

    
    <div class="col-md-6">
      {{ EbReqForm.GETTING_TIME.errors }}
      <label for="{{ EbReqForm.GETTING_TIME.id_for_label }}" class="form-label">Время получения заявки:</label>
      {{ EbReqForm.GETTING_TIME }}
    </div>

    <div class="col-md-6">
      {{ EbReqForm.REQUEST_TYPE.errors }}
      <label for="{{ EbReqForm.REQUEST_TYPE.id_for_label }}" class="form-label">Тип заявки:</label>
      {{ EbReqForm.REQUEST_TYPE }}
    </div>

    <div class="col-md-6">
      {{ EbReqForm.ADDED_ROLES.errors }}
      <label for="{{ EbReqForm.ADDED_ROLES.id_for_label }}" class="form-label">Добавление полномочий:</label>
      {{ EbReqForm.ADDED_ROLES }}
    </div>

    <div class="col-md-6 form-check form-switch" style="margin-left: 8px;">
      {{ EbReqForm.IsDEBTOR.errors }}
      <label for="{{ EbReqForm.IsDEBTOR.id_for_label }}" class="form-label">Является должником?</label>
      {{ EbReqForm.IsDEBTOR }}
    </div>

    <div class="col-12">
      {{ EbReqForm.EXECUTOR.errors }}
      <label for="{{ EbReqForm.EXECUTOR.id_for_label }}" class="form-label">Исполнитель:</label>
      {{ EbReqForm.EXECUTOR }}
    </div>

    <div class="col-md-6">
      {{ EbReqForm.RESULT.errors }}
      <label for="{{ EbReqForm.RESULT.id_for_label }}" class="form-label">Результат:</label>
      {{ EbReqForm.RESULT }}
    </div>

    <div class="col-md-6">
      {{ EbReqForm.NUMBER.errors }}
      <label for="{{ EbReqForm.NUMBER.id_for_label }}" class="form-label">Номер заявки:</label>
      {{ EbReqForm.NUMBER }}
    </div>

    <div class="col-12">
      {{ EbReqForm.COMMENT.errors }}
      <label for="{{ EbReqForm.COMMENT.id_for_label }}" class="form-label">Комментарий:</label>
      {{ EbReqForm.COMMENT }}
    </div>

    <div class="col-md-6">
      {{ EbReqForm.MESSAGE_NUMBER.errors }}
      <label for="{{ EbReqForm.MESSAGE_NUMBER.id_for_label }}" class="form-label">Номер письма:</label>
      {{ EbReqForm.MESSAGE_NUMBER }}
    </div>

    <div class="col-md-6">
      {{ EbReqForm.MESSAGE_DATA.errors }}
      <label for="{{ EbReqForm.MESSAGE_DATA.id_for_label }}" class="form-label">Дата письма:</label>
      {{ EbReqForm.MESSAGE_DATA }}
    </div>

    <div class="col-12">
      {{ EbReqForm.TRACK_NUMBER.errors }}
      <label for="{{ EbReqForm.TRACK_NUMBER.id_for_label }}" class="form-label">Трек-код:</label>
      {{ EbReqForm.TRACK_NUMBER }}
    </div>

    <input class="btn btn-success" type="submit" value="Добавить" style="margin-bottom: 30px;">
  </form>
</div>
{% endblock %}