{% extends 'base.html' %}
{% block content %}
{% load static %}

            <div class="pt-1"style="margin-top: 30px">
                <form method="post">
                    {% csrf_token %}
                        {% for adm in admin %}
                    <button type="submit" class="btn btn-success btn-sm mb-2" name="{{ adm.role }}" value="{{ adm.fio }}">{{ adm.fio }}</button>
                        {% endfor %}
                </form>
            </div>
<table class="table" id="myTable" style="margin-bottom: 50px">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col" >Ключ</th>
      <th scope="col">Действует с</th>
	  <th scope="col">Действует по</th>
      <th scope="col">ТОФК</th>
    </tr>
  </thead>
  <tbody>

  {% for value in certres %}

      <tr>
      <td>{{value.fio}}</td>
      <td><a class="nav-link" href="{{ value.id}}/">{{value.numberkey}}</a></td>
      <td>{{value.beforedate|date:"Y-m-d"}}</td>
      <td>{{value.afterdate|date:"Y-m-d"}}</td>
      <td>{{value.commentary}}</td>
    </tr>

  {% endfor %}
  </tbody>
</table>
{% endblock %}
