{% extends 'base.html' %}
{% block content %}
{% load static %}
<br>
<br>
<br>
<style type="text/css">
    body{
        background-color: #EDEEF0;
    }
</style>

<table class="table" style="margin-bottom: 100px">
  <thead>
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col">Номер ключа</th>
      <th scope="col">Действует с</th>
      <th scope="col">Действует по</th>
      <th scope="col">ТОФК</th>
    </tr>
  </thead>
  <tbody>
	{% for el in cert %}
    <tr>
      <td>{{el.fio}}</td>
      <td>{{el.numberkey}}</td>
      <td>{{el.beforedate}}</td>
      <td>{{el.afterdate}}</td>
      <td>{{el.commentary}}</td>
    </tr>
	{% endfor %}
  </tbody>
</table>
{% endblock %}